{
	"tabWidth": 4,
	"semi": true,
	"singleQuote": true,
	"arrowParens": "always",
	"trailingComma": "none",
	"useTabs": true,
	"bracketSameLine": true,
	"printWidth": 160,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	],
	"tailwindStylesheet": "./src/app.css"
}
