@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-theme: black;
    --color-background: oklch(0.99 0 0);
    --color-primary: var(--color-blue-500);

    --color-contrast: oklch(0 0 0); /* куди йде шкала */

    --color-neutral-50:  color-mix(in oklch, var(--color-contrast) 2.5%, var(--color-background));
    --color-neutral-100: color-mix(in oklch, var(--color-contrast) 5%, var(--color-background));
    --color-neutral-200: color-mix(in oklch, var(--color-contrast) 10%, var(--color-background));
    --color-neutral-300: color-mix(in oklch, var(--color-contrast) 15%, var(--color-background));
    --color-neutral-400: color-mix(in oklch, var(--color-contrast) 20%, var(--color-background));
    --color-neutral-500: color-mix(in oklch, var(--color-contrast) 25%, var(--color-background));
    --color-neutral-600: color-mix(in oklch, var(--color-contrast) 30%, var(--color-background));
    --color-neutral-700: color-mix(in oklch, var(--color-contrast) 35%, var(--color-background));
    --color-neutral-750: color-mix(in oklch, var(--color-contrast) 40%, var(--color-background));
    --color-neutral-800: color-mix(in oklch, var(--color-contrast) 45%, var(--color-background));
    --color-neutral-900: color-mix(in oklch, var(--color-contrast) 50%, var(--color-background));
    --color-neutral-1000: color-mix(in oklch, var(--color-contrast) 60%, var(--color-background));
    --color-neutral-1100: color-mix(in oklch, var(--color-contrast) 70%, var(--color-background));
    --color-neutral-1200: color-mix(in oklch, var(--color-contrast) 80%, var(--color-background));
}

.dark {
    --color-theme: white;
    --color-background: oklch(0.28 0 0);

    --color-contrast: oklch(1 0 0);
}

@layer base {
    body {
        @apply bg-background text-theme overflow-hidden;
    }

    * {
        scrollbar-width: auto;
        scrollbar-color: var(--color-neutral-50) var(--color-neutral-100);
        &::-webkit-scrollbar {
            display: block;
            width: 9px;
            height: 9px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: var(--color-neutral-400);
            border-radius: 20px;
        }
        &::-webkit-scrollbar-corner {
            background-color: var(--color-neutral-500);
        }
    }

    button {
        @apply cursor-pointer;
    }

    input[type='range'] {
        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        height: 16px;
        background: transparent;
        cursor: pointer;
    }
    input[type='range']::-webkit-slider-runnable-track {
        height: 4px;
        border-radius: 2px;
        background: rgb(0 0 0 / 0.35);
    }
    input[type='range']::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: var(--color-theme);
        margin-top: -6px;
        border: none;
    }
    input[type='range']::-moz-range-track {
        height: 4px;
        border-radius: 2px;
        background: rgb(0 0 0 / 0.35);
        border: none;
    }
    input[type='range']::-moz-range-thumb {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: var(--color-theme);
        border: none;
    }
    input[type='range']:disabled {
        @apply opacity-50 cursor-not-allowed;
    }
}

@layer components {
    .button-header {
        @apply bg-neutral-200 hover:bg-neutral-300 hover:text-theme transition-all text-neutral-900 rounded-lg h-6.5 flex justify-center items-center;

        &.active {
            @apply bg-neutral-500! text-theme!
        }

        @variant disabled {
            @apply opacity-50 cursor-not-allowed;
        }
    }

    .button-main {
        @apply flex items-center justify-center rounded-2xl border px-4 py-1 font-medium;
        @apply transition-all duration-500;

        @variant hover {
            @apply scale-[1.010];
        }

        @variant disabled {
            @apply hover:scale-100 opacity-50 cursor-not-allowed;
        }
    }

    .button-main.primary {
        @apply border-neutral-400 bg-neutral-200 text-neutral-1000;

        @variant hover {
            @apply border-neutral-500 bg-neutral-300 text-neutral-1100;
        }

        &.active {
            @apply bg-neutral-600 text-theme border-neutral-800
        }
    }

    .button-main.secondary {
        @apply border-neutral-600 bg-neutral-400 text-theme;

        @variant hover {
            @apply border-neutral-700 bg-neutral-500;
        }
    }

    .button-main.red {
        @apply border-red-500/40 bg-red-500/40 text-red-800;

        @variant hover {
            @apply border-red-500/50 bg-red-500/50 text-red-900;
        }

        @variant dark {
            @apply text-red-200 hover:text-red-100
        }
    }

    .button-main.green {
        @apply border-emerald-500/40 bg-emerald-500/40 text-emerald-800;

        @variant hover {
            @apply border-emerald-500/50 bg-emerald-500/50 text-emerald-900;
        }

        @variant dark {
            @apply text-emerald-200 hover:text-emerald-100
        }
    }


    .btn-green {
        @apply inline-flex items-center gap-1.5 rounded-xl border px-5 py-1.5 text-sm font-semibold transition-all duration-300;
        @apply hover:scale-[1.05];
        @apply bg-green-500/20 border-green-500/30 text-green-800;

        @variant hover {
            @apply bg-green-500/30 border-green-500/40 text-green-900
        }

        @variant dark {
            @apply bg-green-500/30 border-green-500/40 text-green-300;

            @variant hover {
                @apply bg-green-500/40 border-green-500/50 text-green-200
            }
        }
    }

    .btn-alert {
        @apply inline-flex items-center gap-1.5 rounded-xl border px-5 py-1.5 text-sm font-semibold transition-all duration-300;
        @apply hover:scale-[1.05];
        @apply bg-red-500/20 border-red-500/30 text-red-800;

        @variant hover {
            @apply bg-red-500/30 border-red-500/40 text-red-900
        }

        @variant dark {
            @apply bg-red-500/30 border-red-500/40 text-red-300;

            @variant hover {
                @apply bg-red-500/40 border-red-500/50 text-red-200
            }
        }
    }

    .btn-warning {
        @apply inline-flex items-center gap-1.5 rounded-xl border px-5 py-1.5 text-sm font-semibold transition-all duration-300;
        @apply hover:scale-[1.05];
        @apply bg-amber-500/20 border-amber-500/30 text-amber-800;

        @variant hover {
            @apply bg-amber-500/30 border-amber-500/40 text-amber-900
        }

        @variant dark {
            @apply bg-amber-500/30 border-amber-500/40 text-amber-300;

            @variant hover {
                @apply bg-amber-500/40 border-amber-500/50 text-amber-200
            }
        }
    }


    .warning-block {
        @apply text-xs flex flex-col dark:border-amber-500/20 border-amber-600/50 border-dashed border gap-2 bg-amber-500/20 dark:bg-amber-500/10 p-4 rounded-2xl text-amber-600;
    }

    .input-base {
        @apply focus:outline-none px-2.5 bg-neutral-100 hover:bg-neutral-200 hover:text-theme transition-all text-neutral-800 rounded-lg h-6.5 flex justify-center items-center;
    }

}

.svelte-flow {
    --xy-node-border-default: none !important;
    --xy-node-border-selected-default: none !important;

    --xy-edge-stroke-default: var(--color-primary) !important;
    --xy-edge-stroke-width-default: 4 !important;
}

.handle {
    @apply !size-2 border-0 rounded-full !border-neutral-500 !bg-neutral-200 ring-[1px] !ring-neutral-500
}